<div class="spinner default-spinner" *ngIf="loading$ | async; else whenLoaded"></div>
<ng-template #whenLoaded>
  <div *ngIf="(error$ | async) as error; else profileBlock">
    <div class="default-error-message">
      <span>{{ error }}, try</span>
      <button mat-flat-button color="primary" (click)="load()">Reload</button>
    </div>
  </div>
  <ng-template #profileBlock>
    <app-about [user]="user$ | async"></app-about>
    <app-group
      *ngIf="(mindGoals$ | async) as mindGoals"
      type='mind'
      [goals]="mindGoals"
      (updateGoal)="onUpdateGoal($event, 'mind')"
      (deleteGoal)="onDeleteGoal($event, 'mind')"
    ></app-group>
    <app-group
      *ngIf="(bodyGoals$ | async) as bodyGoals"
      type='body'
      [goals]="bodyGoals"
      (updateGoal)="onUpdateGoal($event, 'body')"
      (deleteGoal)="onDeleteGoal($event, 'body')"
    ></app-group>
    <app-group
      *ngIf="(soulGoals$ | async) as soulGoals"
      type='soul'
      [goals]="soulGoals"
      (updateGoal)="onUpdateGoal($event, 'soul')"
      (deleteGoal)="onDeleteGoal($event, 'soul')"
    ></app-group>
  </ng-template>
</ng-template>
