:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-toolbar-row {
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: 'row';
  margin-right: -2px;
  .mat-icon-button {
    margin: 0 2px;
  }
}

a.active {
  color: darken(yellow, 5%);
}
