<article [ngClass]="type">
  <mat-toolbar class="group-title">
    <img [src]="icon" alt="">
    <span>{{ title }}</span>
    <button mat-icon-button matTooltip="Details" matTooltipClass="header-tooltip" (click)="toggleDetails()">
      <mat-icon>expand_more</mat-icon>
    </button>
  </mat-toolbar>
  <div class="main">
    <div class="details" [@dropdown]="detailsState">{{ description }}</div>
    <div class="goals">
      <app-goal
        *ngFor="let goal of goals; trackBy: trackByFn"
        [goal]="goal"
        (updateGoal)="onUpdateGoal($event)"
        (deleteGoal)="onDeleteGoal($event)"
      ></app-goal>
      <app-goal
        *ngIf="!!addGoal"
        [goal]="addGoalTemplate"
        (updateGoal)="onCreateGoal($event)"
        (deleteGoal)="onRemoveGoal()"
        [addGoal]="addGoal"
      ></app-goal>
      <div>
        <button
          class="add-goal-button"
          mat-flat-button color="primary"
          [disabled]="!!addGoal"
          (click)="onAddGoal()"
        >Add Goal</button>
      </div>
    </div>
  </div>
</article>
