<mat-card>
  <mat-card-header>
    <mat-card-title>Login / Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput placeholder="Username">
        <mat-icon matSuffix>account_box</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">Login</button>
    <button mat-stroked-button color="accent">Register</button>
  </mat-card-actions>
</mat-card>
