<app-select-day></app-select-day>
<div class="spinner default-spinner" *ngIf="loading$ | async; else whenLoaded"></div>
<ng-template #whenLoaded>
  <!-- <div *ngIf="(error$ | async) as error; else profileBlock">
    <div class="default-error-message">
      <span>{{ error }}, try</span>
      <button mat-flat-button color="primary" (click)="load()">Reload</button>
    </div>
  </div> -->
  <app-group
    *ngFor="let group of groups$ | async; trackBy: trackByFn"
    [group]="group.group"
    [goals]="group.goals"
  ></app-group>
</ng-template>

